@model IEnumerable<Property>

<div class="container">
    <div class="text-center my-4">
        <h1 class="display-4">Güncel İlanlar</h1>
        <p>Hayalinizdeki evi bulmak artık çok kolay.</p>

        <div class="mt-3">
            <button class="btn btn-dark filter-btn" data-id="0">Tümü</button>
            @foreach (var cat in ViewBag.Categories)
            {
                <button class="btn btn-outline-dark filter-btn" data-id="@cat.Id">@cat.Name</button>
            }
        </div>
    </div>

    <div class="row" id="propertyListContainer">
        <partial name="_PropertyListPartial" model="Model" />
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".filter-btn").click(function () {
                // Tıklanan kategorinin ID'sini al
                var catId = $(this).data("id");

                // Görsellik: Tıklanan butonu aktif yap, diğerlerini pasif
                $(".filter-btn").removeClass("btn-dark").addClass("btn-outline-dark");
                $(this).removeClass("btn-outline-dark").addClass("btn-dark");

                // AJAX İsteği
                $.ajax({
                    url: '/Home/FilterProperties',
                    type: 'GET',
                    data: { categoryId: catId },
                    success: function (data) {
                        // Gelen yeni HTML'i kutunun içine bas
                        $("#propertyListContainer").html(data);
                    },
                    error: function () {
                        alert("Veriler yüklenirken bir hata oluştu.");
                    }
                });
            });
        });
    </script>
}